COMPOSE_PROJECT_NAME=enrichment

LOG_LEVEL=DEBUG
HTTP_SERVER_READ_HEADER_TIMEOUT_SECOND=10
NUM_CONSUMER_WORKER=5

HTTP_SERVER_PORT=8080
DEBUG_SERVER_PORT=8084

KAFKA_BROKERS=kafka:9092
KAFKA_CURSOR_TOPIC=visora_mc
KAFKA_DIAL_TIMEOUT=3s

KAFKA_CONTAINER_PORT=9092
KAFKA_HOST_PORT=9092

KAFKA_UI_HOST_PORT=8081

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=visora-enrichment
CLICKHOUSE_DATABASE=visora-ch-store
